@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900");


.text-jp {
  font-family: "Noto Sans JP", sans-serif;
}

.text-nijika {
  color: rgb(255 180 0);
  -webkit-text-stroke: 4px rgb(255 218 128);
  paint-order: stroke fill;
}

.text-nina {
  color: rgb(217 14 44);
  -webkit-text-stroke: 4px rgb(109 7 22);
  paint-order: stroke fill;
}
