@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@75,300;100,100;100,300;100,500;100,700");

:root {
  --border-width: 1.5px;
}

.text-small {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.35;
}
.text-mid {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.text-large {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.67;
}
.text-huge {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.8;
}
.script-mid {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-stretch: condensed;
  line-height: 1.2;
}

.block {
  background-color: snow;
  border: var(--border-width) solid dimgray;
  box-shadow: 8px 4px 8px gray;
}

.sep-huge {
  margin: 10vmin;
  padding: 5vmin;
}
.sep-large {
  margin: 5vmin;
  padding: 2.5vmin 3vmin;
}
.sep-mid {
  margin: 3vmin;
  padding: 1.5vmin 2vmin;
}
.sep-small {
  margin: 1.2vmin;
  padding: 0.6vmin 1.2vmin;
}
.sep-tiny {
  margin: 0.5vmin;
  padding: 0.25vmin 0.6vmin;
}
.sep-none {
  margin: 0vmin;
  padding: 0vmin;
}


.button {
  display: inline-block;
  color: inherit;
  border: var(--border-width) solid transparent;
  transition: transform 0.05s ease-in;
  padding: 0 0.33em;
  text-decoration: none;
}
.button:hover {
  transform: translate( -1px, -1px );
  border: var(--border-width) solid black;
}
.button:active {
  transform: translate( 1px, 1px );
  border: var(--border-width) solid black;
}


.editable {
  border: var(--border-width) solid transparent;
  white-space: pre-wrap;
  cursor: text;
}
.editable:focus {
  background: white;
  border-color: cyan;
  outline: none;
}


body {
  background-color: silver;
  margin: 0;
}
h1 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
}
